
/* Definição de fontes */
@font-face {
    font-family: "Unbounded";
    src:url("../fontes/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap; /*caso a fonte escolhida demorar para carregar, o navegador usará a fall-back, mas assim que terminar de carregar ela usará a normal. */
    
}

@font-face {
    font-family: "Poppins";
    src:url("../fontes/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap; /*caso a fonte escolhida demorar para carregar, o navegador usará a fall-back, mas assim que terminar de carregar ela usará a normal. */
    
}


/*reset*/
* { 
    margin: 0;
    padding: 0;
} /*dessa forma se aplica para todos os sites em geral, reset simples, para informar o navegador que não queremos os estilos "prontos".*/

/*estilo desktop*/
body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header img {
    display: block;
    margin: 60px 0 0 300px;
}

h1 {
    font-size: 50px;
    font-family: "Unbounded", sans-serif;                                                                                                                                                      text-align: center;  
    margin-top: 60px;                                                                                 
    
}

h1 span {
    color: #9747FF;
}

p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;

}

a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-decoration: none;
    background-color: #9747FF;
    width: 245px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 36px; 
    margin: 40px auto; /*sempre no sentido horário*/

    /*margin-top: 100px;
    margin-right: 790px;
    margin-bottom: 10px;
    margin-left: 790px;*/
}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }

}

@media(max-width: 375px){
    
    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 340px;
        height: 230px;
    }



}
